<div class="container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    <span href="#" ng-click="sortType = 'sName'; reverse = !reverse;">Heading 1</span>
                    <span ng-show="sortType == 'sName' && reverse == true"><i class="fa fa-caret-up"></i></span>
                    <span ng-show="sortType == 'sName' && reverse == false"><i class="fa fa-caret-down"></i></span>
                </th>
                <th>
                    <span href="#" ng-click="sortType = 'fName'; reverse = !reverse;">Heading 2</span>
                    <span ng-show="sortType == 'fName' && reverse == true"><i class="fa fa-caret-up"></i></span>
                    <span ng-show="sortType == 'fName' && reverse == false"><i class="fa fa-caret-down"></i></span>
                </th>
                <th>
                    <span href="#" ng-click="sortType = 'gName'; reverse = !reverse;">Heading 3</span>
                    <span ng-show="sortType == 'gName' && reverse == true"><i class="fa fa-caret-up"></i></span>
                    <span ng-show="sortType == 'gName' && reverse == false"><i class="fa fa-caret-down"></i></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in arr | orderBy : sortType : reverse">
                <td>{{row.sName}}</td>
                <td>{{row.fName}}</td>
                <td>{{row.gName}}</td>
            </tr>
        </tbody>
    </table>       
</div>
<!--<div class="container" ng-controller="viewMobileCtrl">    
    <h2>Mobile Phones&nbsp;/&nbsp;{{name}}</h2>
    <div class="row">
        <div class="col-md-4" style="border: 1px solid #ccc; border-radius: 2px; padding: 10px;">
            <p>{{mobileObj.mobileName}}</p>
            <p>{{a}}</p>
            <p style="display: inline; float: left">Rs.&nbsp;{{mobileObj.mobilePrice}}</p>            
            <button type="button" class="btn btn-primary" ng-show="showAddBtn" style="float: right" ng-click="addToCart(mobileObj)">Add to Cart</button>
            <button type="button" class="btn btn-success" ng-hide="showAddBtn" style="float: right">Added to Cart</button>
            <div ng-controller="childCtrl" style="clear: both; border: 1px solid #ccc; border-radius: 2px; padding: 10px;">
                <p>childCtrl</p>
                <input type="text" class="form-control" ng-model="enteredText" ng-change="changed()">                
            </div>
        </div>
    </div>
</div>-->
