<div class="container">
    <h2>Cart</h2>
    <div class="row">
        <div class="col-md-4" style="border: 1px solid #ccc; border-radius: 2px; padding: 10px; height: 100px" 
            ng-repeat="mobile in mobileArr">
            <p>{{mobile.mobileName}}</p>
            <p style="display: inline; float: left">Rs.&nbsp;{{mobile.mobilePrice}}</p>            
            <button type="button" class="btn btn-danger" style="float: right" ng-click="removeFromCart(mobile)">Remove from Cart</button>
        </div>
    </div>
</div>
